<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}"
		password="${rabbit.passwd}" virtual-host="${rabbit.vhost}" />

	
	<!-- 管理,队列.交换机 -->
	<rabbit:admin connection-factory="connectionFactory" />

	<!-- 定义队列 -->
	<rabbit:queue id="myqueue" name="myqueue" auto-declare="true" durable="true"/>
	
	<!-- 定义交换机-->
	<rabbit:direct-exchange name="my-mq-exchange"
		auto-declare="true" durable="true">
		<rabbit:bindings>
			<rabbit:binding queue="myqueue" key="update"/>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!-- 绑定监听器处理队列消息 -->
	<rabbit:listener-container connection-factory="connectionFactory"   >
		<rabbit:listener ref="rabbitmqListener" method="listener" queues="myqueue"/>
	</rabbit:listener-container> 
	
	 



</beans>