<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

<!-- 定义XML解析器 -->
	<bean id="parser" class="org.apache.solr.client.solrj.impl.XMLResponseParser"/>

<!-- 定义solr连接 -->
	<bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<!-- 连接地址 -->
		<constructor-arg type="String" value="${solr.baseUrl}"/>
		<!-- 解析器 -->
		<property name="parser" ref="parser"/>
		<!-- 最大连接重试次数 -->
		<property name="maxRetries" value="${solr.maxRetries}"/>
		<!-- 连接超时时间 -->
		<property name="connectionTimeout" value="${solr.connectionTimeout}"/>
	</bean>
	
</beans>
